<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Market</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta name="MobileOptimized" content="320">
<link href="css/main.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="css/colors/default.css" id="colors" />
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
</head>
<body>
<!--main wrapper start-->
<div class="section first">
  <div class="container">
    <div class="row">
      <div class="title1">
        <h1>Website Name</h1>
        <h4>The best place to buy a house, sell a car or find a job in UAE</h4>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="banner">
    <div class="container">
      <div class="row">
        <ul>
          <li><a href="#">UAE</a></li>
          <li><a href="#">Abu Dhabi</a></li>
          <li><a href="#"> Ajman </a></li>
          <li><a href="#">Al Ain</a></li>
          <li><a href="#">Dubai</a></li>
          <li><a href="#"> Fujairah</a></li>
          <li> <a href="#">Ras al Khaimah</a> </li>
          <li><a href="#">Sharjah</a> </li>
          <li><a href="#">Umm al Quwain</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
  <div class="banner2"><p>Looking for other countries? dubizzle is now OLX in the rest of the Middle East and North Africa</p>
  <div class="banner3"><img src="images/olx-logo.png"></div>
  </div></div>
</section>
<div class="container">
<div class="row">
<div class="banner4">
<ul>
<li>
<span><img src="images/burji.jpg"></span>
<a href="#"><p>Burj khalifa</p></a>
</li>
<li>
<span><img src="images/dubhi-mall.jpg"></span>
<a href="#"><p>Dubhi</p></a>
</li>
<li>
<span><img src="images/oman.jpg"></span>
<a href="#"><p>Oman</p></a>
</li>
<li>
<span><img src="images/bahrain.jpg"></span>
<a href="#"><p>Bahrain</p></a>
</li>
<li>
<span><img src="images/qatar.jpg"></span>
<a href="#"><p>Qatar</p></a>
</li>
<li>
<span><img src="images/burji.jpg"></span>
<a href="#"><p>Burj khalifa</p></a>
</li>
<li>
<span><img src="images/dubhi-mall.jpg"></span>
<a href="#"><p>Dubhi</p></a>
</li>
<li>
<span><img src="images/oman.jpg"></span>
<a href="#"><p>Oman</p></a>
</li>
<li>
<span><img src="images/bahrain.jpg"></span>
<a href="#"><p>Bahrain</p></a>
</li>
<li>
<span><img src="images/qatar.jpg"></span>
<a href="#"><p>Qatar</p></a>
</li>
</ul>
</div>
</div>
<div class="clearfix"></div>
</div>
<section>
</section>
<!--main wrapper end-->
<!--main js file start-->
<script type="text/javascript" src="js/modernizr.custom.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<!--Plugin-->
<script type="text/javascript" src="js/plugin/parallax/jquery.stellar.js"></script>
<script type="text/javascript" src="js/plugin/wow/jquery.wow.js"></script>
<script type="text/javascript" src="js/plugin/owl/owl.carousel.js"></script>
<script type="text/javascript" src="js/plugin/isotop/jquery.isotope.js"></script>
<script type="text/javascript" src="js/plugin/circle/circles.js"></script>
<script type="text/javascript" src="js/plugin/countto/jquery.appear.js"></script>
<script type="text/javascript" src="js/plugin/countto/jquery.countTo.js"></script>
<script type="text/javascript" src="js/plugin/jquery.movingboxes.js"></script>
<script type="text/javascript" src="js/plugin/fancybox/jquery.fancybox.js"></script>
<!--layer slider-->
<script type="text/javascript" src="js/plugin/layerslider/js/layerslider.transitions.js"></script>
<script type="text/javascript" src="js/plugin/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
<script type="text/javascript" src="js/plugin/layerslider/js/greensock.js"></script>
<script type="text/javascript" src="js/jquery.bootstrap.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src="js/switcher.js"></script>
<!--main js file end-->
</body>
</html>
