<!DOCTYPE html>

<html lang="en">

<head>
<meta charset="utf-8" />
<title>Market</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta name="MobileOptimized" content="320">

<link href="css/main.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="css/colors/default.css" id="colors" />
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<script type="text/JavaScript">
<!--
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
//-->
</script>
</head>

<body>

<!--main wrapper start-->
<div id="wrapper">
  <header class="header_style2">
    <div class="header_top_wrapper">
      <div class="header_top">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="call_us_no">
                <p><i class="fa fa-mobile"></i> App On Your Phone</p>
              </div>
              <div class="top-right">
                <ul>
                  <li><a href="#">Sign In</a></li>
                  <li><a href="#">Register</a></li>
                  <li><a href="#">Help</a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#">How To</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header_top_wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3">
		  <div class="r"> <a href="index-2.html" class="cls_logo"> <img src="images/logo.jpg" alt="cls logo" /> </a></div> </div>
          <div class="col-lg-9 col-md-9 col-sm-9">
            
            <div class="colorfull-row full-bottom">
      <div class="container-fluid">
        <div class="wrapper">
          <!-- Begin domain search form -->
          <div class="domain-search">
            <form class="form-domain">
              <!-- Search input -->
              <div class="search-input">
                <input class="form-control input-domain" placeholder="Search" type="text">
                <div class="domain-extension" >
                  <select class="form-control" style="    border: none;
    border-left: 1px solid;
    border-color: #CACAD9;
    border-radius: 0;">
                    <option value=".com" selected="selected">Electronic</option>
                    <option value=".org">Furtunure</option>
                    <option value=".net">Jobs</option>
                    <option value=".info">Vehicle</option>
                    <option value=".in">Moter</option>
                    <option value=".asia">Buildings</option>
                   
                  </select>
                </div>
              </div>
              <!-- /.search-input -->
              <button class="btn btn-success btn-block" type="submit"><i class="fa fa-search"></i></button>
            </form>
            <!-- Promo button -->
            <div class="promo-btn"> <a class="btn btn-default btn-block b" href="#fakelink"><strong class="text-info"><span style="color:#fff; ">Place Your Ad </span></a> </div>
            <!-- /.promo-btn -->
          </div>
          <!-- /.domain-search -->
          <!-- End domains search form -->
        </div>
        <!-- /.wrapper -->
      </div>
      <!-- /.container-fluid -->
    </div>
          </div>
        </div>
      </div>
    </div>
	<div class="header_bottom_wrapper">
      <div class="container">
        <div class="row">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cls_nav"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <div class="cls_nav_wrapper nav_right collapse navbar-collapse" id="cls_nav">
            <ul>
              <li><a>All Categories</a>
                <ul class="sub-menu">
                  <li><a>About Us</a>
                    <ul class="sub-menu">
                      <li><a href="about_us_v1.html">About Us Version-1</a></li>
                      <li><a href="about_us_v2.html">About Us Version-2</a></li>
                    </ul>
                  </li>
                  <li><a>Shop Pages</a>
                    <ul class="sub-menu">
                      <li><a href="shop.html">Shop</a></li>
                      <li><a href="shop-sidebar.html">Shop Sidebar</a></li>
                      <li><a href="shop-product.html">Shop Product</a></li>
                    </ul>
                  </li>
                  <li><a>Services</a>
                    <ul class="sub-menu">
                      <li><a href="services_v1.html">Service Version-1</a></li>
                      <li><a href="services_v2.html">Service Version-2</a></li>
                    </ul>
                  </li>
                  <li><a href="pricing.html">Pricing Tables</a></li>
                  <li><a href="sidebar.html">Sidebar</a></li>
                  <li><a href="full_width.html">Full Width</a></li>
                  <li><a>Third Level Nav</a>
                    <ul class="sub-menu">
                      <li><a href="shortcode.html">Shortcodes</a></li>
                      <li><a href="about_us_v1.html">About Us</a></li>
                      <li><a href="pricing.html">Pricing Tables</a></li>
                      <li><a href="contact_sidebar.html">Contact with Sidebar</a></li>
                    </ul>
                  </li>
                  <li><a href="faq.html">FAQ</a></li>
                  <li><a href="contact.html">Contact Us</a></li>
                </ul>
              </li>
              <li class="active"><a>Moters</a>
                <ul class="sub-menu">
                  <li><a>About Us</a>
                    <ul class="sub-menu">
                      <li><a href="about_us_v1.html">About Us Version-1</a></li>
                      <li><a href="about_us_v2.html">About Us Version-2</a></li>
                    </ul>
                  </li>
                  <li><a>Shop Pages</a>
                    <ul class="sub-menu">
                      <li><a href="shop.html">Shop</a></li>
                      <li><a href="shop-sidebar.html">Shop Sidebar</a></li>
                      <li><a href="shop-product.html">Shop Product</a></li>
                    </ul>
                  </li>
                  <li><a>Services</a>
                    <ul class="sub-menu">
                      <li><a href="services_v1.html">Service Version-1</a></li>
                      <li><a href="services_v2.html">Service Version-2</a></li>
                    </ul>
                  </li>
                  <li><a href="pricing.html">Pricing Tables</a></li>
                  <li><a href="sidebar.html">Sidebar</a></li>
                  <li><a href="full_width.html">Full Width</a></li>
                  <li><a>Third Level Nav</a>
                    <ul class="sub-menu">
                      <li><a href="shortcode.html">Shortcodes</a></li>
                      <li><a href="about_us_v1.html">About Us</a></li>
                      <li><a href="pricing.html">Pricing Tables</a></li>
                      <li><a href="contact_sidebar.html">Contact with Sidebar</a></li>
                    </ul>
                  </li>
                  <li><a href="faq.html">FAQ</a></li>
                  <li><a href="contact.html">Contact Us</a></li>
                </ul>
              </li>
              <li><a>Classifieds</a>
                <ul class="sub-menu">
                  <li><a href="portfolio_1col.html">Portfolio 1 column</a></li>
                  <li><a href="portfolio_2col.html">Portfolio 2 column</a></li>
                  <li><a href="portfolio_3col.html">Portfolio 3 column</a></li>
                  <li><a href="portfolio_4col.html">Portfolio 4 column</a></li>
                  <li><a href="portfolio_fullwidth.html">Portfolio Fullwidth</a></li>
                  <li><a href="portfolio_masonry.html">Portfolio Masonry Version-1</a></li>
                  <li><a href="portfolio_masonry2.html">Portfolio Masonry Version-2</a></li>
                  <li><a href="portfolio_single.html">Portfolio Single</a></li>
                  <li><a href="portfolio_single_wide.html">Portfolio Single Wide</a></li>
                </ul>
              </li>
              <li><a>Property for Sale</a>
                <ul class="sub-menu">
                  <li><a href="blog-medium-image.html">blog medium image</a></li>
                  <li><a href="blog-medium-image-zigzag.html">blog medium image zigzag</a></li>
                  <li><a href="blog-large-image.html">blog large image</a></li>
                  <li><a href="blog-boxes.html">blog boxes</a></li>
                  <li><a href="blog-single-post.html">blog Single Post</a></li>
                </ul>
              </li>
              <li class="mega-menu"><a href="#">Property for Rent</a>
                <div class="mega-menu-wrapper">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="mega-menu-content">
                      <h2>THIS IS A MEGA MENU</h2>
                      <p>Pellentesque egoists sed tortor egestas pretium. Nam eget fermentum tellus, et fermentum diam. Splash hendrerit, diam non commodo laoreet, est elit volu mauris, vel vehicula nisl orci id nibh convallis condimentum.</p>
                      <a href="#"><img src="images/img.jpg" alt="" /></a> </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <ul>
                          <li><a href="#">Responsive Design</a></li>
                          <li><a href="#">Bootstrap 3</a></li>
                          <li><a href="#">Boxed & Wide Versions</a></li>
                          <li><a href="#">Retina Ready</a></li>
                          <li><a href="#">Parallax Effect</a></li>
                          <li><a href="#">CSS Animations</a></li>
                          <li><a href="#">Cross-Browser Compatible</a></li>
                          <li><a href="#">Clean Code</a></li>
                        </ul>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <ul>
                          <li><a href="#">Fullwidth Video</a></li>
                          <li><a href="#">Shortcodes</a></li>
                          <li><a href="#">Mega Menu</a></li>
                          <li><a href="#">Unlimited Color Options</a></li>
                          <li><a href="#">Intelligent Page Builder</a></li>
                          <li><a href="#">PSD Files Included</a></li>
                          <li><a href="#">Documentation</a></li>
                          <li><a href="#">Free Life Support</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li><a href="shortcode.html">Jobs</a></li>
			  <li><a href="shortcode.html">Community</a></li>
            </ul>
          </div>
        </div></div>
    </div>
  </header><div class="clearfix"></div>
  <div class="gap"></div>
  
  <div class="cls_service_wrapper">
    <div class="container">
      <div class="row">
        
        
        
		
		<div class="col-sm-9 main">
		
		
	<div class="ad">
	<h5>Ad Posted Sucessfully!</h5>
	i will be vissable after few minites
	<strong>See how your ad looks</strong>
	<div class="save" style="margin-bottom:20px"><a href="#">View Ad</a></div>
	<span><a href="#">Submit Another Ad</a></span>
	<span><a href="#">view your ads</a></span>
	<span><a href="#">back to home</a></span>
	</div>
			
		
		
		</div>
		<div class="col-md-3">
		<div class="firstbox">
		<div class="bdr">
		<h4>Quick Links</h4>
		<ul>
		<li><a href="#">Sell / Place an Ad</a></li>
		<li><a href="#">Register</a></li>
		<li><a href="#">How to</a></li>
		<li><a href="#">Help</a></li>
		



		</ul>
		</div>
		</div>
		<div class="jobs">
		<img src="images/slider/jobs.jpg">
		</div>
		<div class="jobs">
		<img src="images/slider/looking.jpg">
		</div>
		</div>
      </div>
    </div>
  </div>
  
  
  <footer class="footer_wrapper">
    <div class="footer">
      <div class="container">
        <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-6">
          <aside class="widget widget_twitter_feed">
            <h4>Support</h4>
            <ul>
              <li class="#">Help</li>
              <li>How To</li>
              <li>Contact Us</li>
              
            </ul>
          </aside>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6">
          <aside class="widget widget_twitter_feed">
            <h4>Get Social</h4>
            <ul>
              <li class="#">Facebook</li>
              <li>Twitter</li>
              <li>Youtube</li>
              <li>Instagram</li>
             
			  


            </ul>
          </aside>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6">
          <aside class="widget widget_twitter_feed">
            <h4>Company</h4>
            <ul>
              <li> About Us</li>
              <li>Advertising</li>
              <li>Careers</li>
        
              <li>Terms of Use</li>
              <li>Privacy Policy</li>
              <li>Blog</li>
			




            </ul>
          </aside>
        </div>
		<div class="col-lg-3 col-md-3 col-sm-6">
          <aside class="widget widget_twitter_feed">
            <h4>UAE</h4>
            <ul>
              <li> Dubai </li>
              <li>Abu Dhabi</li>
              <li>Ras al Khaimah</li>
        
              <li> Sharjah </li>
              <li>Fujairah Ajman</li>
              <li>Umm al Quwain</li>
			  <li>Al Ain</li>
			


  




            </ul>
          </aside>
        </div>
		<div class="col-lg-3 col-md-3 col-sm-6">
          <aside class="widget widget_twitter_feed">
            <h4>Other Contries</h4>
            <ul>
              <li>  Algeria</li>
              <li>Bahrain</li>
              <li>Saudi Arabia</li>
        
              <li>Lebanon</li>
              <li>Jordan</li>
              <li>Kuwait</li>
			   <li>Oman</li>
			    <li>Qatar</li>
			 







			




            </ul>
          </aside>
        </div>
        
      </div>
      </div>
    </div>
    <div class="copyright">
      <p>© 2015 Local Classified. All rights reserved.</p>
    </div>
  </footer>
</div>
<!--main wrapper end--> 

<!--main js file start--> 
<script type="text/javascript" src="js/modernizr.custom.js"></script> 
<script type="text/javascript" src="js/jquery.js"></script> 

<!--Plugin--> 
<script type="text/javascript" src="js/plugin/parallax/jquery.stellar.js"></script> 
<script type="text/javascript" src="js/plugin/wow/jquery.wow.js"></script> 
<script type="text/javascript" src="js/plugin/owl/owl.carousel.js"></script> 
<script type="text/javascript" src="js/plugin/isotop/jquery.isotope.js"></script> 
<script type="text/javascript" src="js/plugin/circle/circles.js"></script> 
<script type="text/javascript" src="js/plugin/countto/jquery.appear.js"></script> 
<script type="text/javascript" src="js/plugin/countto/jquery.countTo.js"></script> 
<script type="text/javascript" src="js/plugin/jquery.movingboxes.js"></script> 
<script type="text/javascript" src="js/plugin/fancybox/jquery.fancybox.js"></script> 

<!--layer slider--> 
<script type="text/javascript" src="js/plugin/layerslider/js/layerslider.transitions.js"></script> 
<script type="text/javascript" src="js/plugin/layerslider/js/layerslider.kreaturamedia.jquery.js"></script> 
<script type="text/javascript" src="js/plugin/layerslider/js/greensock.js"></script> 
<script type="text/javascript" src="js/jquery.bootstrap.js"></script> 
<script type="text/javascript" src="js/custom.js"></script> 
<script type="text/javascript" src="js/switcher.js"></script>

<!--main js file end-->
</body>
</html>
