<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />

    <authentication mode="Forms">
      <forms loginUrl="UserLogin.aspx" defaultUrl="Default.aspx" name=".ASPXFORMSAUTH" timeout="10" />
    </authentication>
    <!--<authorization>
      <deny users="?" />
    </authorization>-->
  </system.web>

  <connectionStrings>
    <add name="DefaultConnection" 
         connectionString="Data Source=192.168.0.110; Initial Catalog=DubiClassified; User ID=DubiUser; Password=Dubi.Classified@2016!;Connection timeout=120;" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>