<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dubiclassified.dal.Properties.Settings.dubizzleConnectionString"
            connectionString="Data Source=it-84;Initial Catalog=dubizzle;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>